.page-header {
  position: relative;
}

.main-nav__list{
  list-style: none;
  margin: 0;
  padding: 0;
}
/*  */
.main-nav__list-catalog{
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__list-link{
  color: inherit;
  text-decoration: none;
}

.page-header__logo{
  display: flex;
  min-height: 66px;
  margin: 0 20px;
  text-align: left;
}

.page-header__logo-items{
  cursor: pointer;
}

.page-header__logo-items:nth-child(1){
  margin-right: 56.66px;
}

.page-header__logo-icon{
  margin-top: 11px;
}

.page-header__logo-item{
  margin-top: 24px;
}

.page-header__main-nav{
  display: flex;
  flex-direction: column;
}

.main-nav__list a{
  font-family: Oswald;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  display: block;
  color: #000000;
  background-color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  padding-top: 22px;
  padding-bottom: 24px;
  border: 1px solid #E6E6E6;
  border-left: none;
  border-right: none;
}

/*  */
.main-nav__list-catalog a{
  font-family: Oswald;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  display: block;
  color: #000000;
  background-color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  padding-top: 22px;
  padding-bottom: 24px;
  border: 1px solid #E6E6E6;
  border-left: none;
  border-right: none;
}

.main-nav__toggle{
  position: absolute;
  right: 20px;
  top: 25px;
  width: 24px;
  height: 19px;
  border: none;
  background-color:  #FFFFFF;
  cursor: pointer;
}

.page-header__main-nav--closed .main-nav__toggle::before{
  content: " ";
  position: absolute;
  top: 0px;
  right: 0px;
  width: 24px;
  height: 1.5px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}

.page-header__main-nav--closed .main-nav__list{
  display: none;
}

/*  */
.page-header__main-nav--closed .main-nav__list-catalog{
  display: none;
}

.page-header__main-nav--opened .main-nav__toggle::before,
.page-header__main-nav--opened .main-nav__toggle::after{
  content: " ";
  position: absolute;
  right: 0px;
  top: 6.25px;
  width: 24.76px;
  height: 1.5px;
  background-color: #000000;
}

.page-header__main-nav--opened .main-nav__toggle::before{
  transform: rotate(45deg);
}

.page-header__main-nav--opened .main-nav__toggle::after{
  transform: rotate(-45deg);
}

.page-header__main-nav--nojs .main-nav__toggle{
  display: none;
}

.page-header__main-nav--nojs .page-header__main-nav{
  position: static;
  min-height: 0;
}

.page-header__main-nav--nojs .main-nav__list-item{
  display: block;
}

.page-header__main-nav--nojs .main-nav__list-item a{
  padding-right: 21px;
  padding-left: 21px;
  text-align: left;
}

.page-header__logo:hover{
  Opacity: 80%;
}

.page-header__logo:active{
  Opacity: 60%;
}

@media (min-width: 768px){
  .page-header{
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
  }

  .page-header__logo{
    display: block;
    max-width: 174px;
    margin: 0;
  }

  .page-header__logo-item{
    display: none;
  }

  .page-header__logo-icon{
    margin-top: 24px;
  }


  .main-nav__toggle{
    display: none;
  }

  .page-header__main-nav {
    display: block;
    position: relative;
    margin-top: 42px;
  }

  .main-nav__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  /*  */
  .main-nav__list-catalog {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .main-nav__list a{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    padding: 0;
    margin-bottom: 10px;
    border: none;
  }

  /*  */
  .main-nav__list-catalog a{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    padding: 0;
    margin-bottom: 10px;
    border: none;
  }

  .main-nav__list-item a:hover{
    color: #000000;
    Opacity: 60%;
  }

  .main-nav__list-item--activ a:hover{
    color: #000000;
    Opacity: 100%;
  }

  .main-nav__list-item a:active{
    color: #000000;
    Opacity: 30%;
  }

  .main-nav__list-item--activ a:active{
    color: #000000;
    Opacity: 100%;
  }

  .main-nav__list-item--activ{
    position: relative;
  }

  .main-nav__list-item--activ::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: #68B738;
  }

  .main-nav__catalog-item--activ::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: #68B738;
  }

  .main-nav__list-item{
    margin-left: 36px;
  }

  .main-nav__list-item:first-child{
    margin-left: 0;
  }


}

@media (min-width: 1440px){
  .page-header{
    margin: 0 110px;
  }

  .page-header__logo-icon{
    margin-top: 53px;
  }

  .page-header__main-nav{
    margin-top: 69px;
  }

  .main-nav__list a{
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 8px;
    color: #FFFFFF;
    background: none;
  }

  /*  */
  .main-nav__list-catalog a{
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 8px;
    color: #000000;
    background: none;
  }

  .main-nav__list-item--activ::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: #FFFFFF;
  }

  .main-nav__catalog-item--activ::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: #68B738;
  }

  .main-nav__list-item a:hover{
    color: #FFFFFF;
    Opacity: 60%;
  }

  .main-nav__item-catalog a:hover{
    color: #111111;
    Opacity: 60%;
  }

  .main-nav__list-item--activ a:hover{
    color: #FFFFFF;
    Opacity: 100%;
  }

  .main-nav__catalog-item--activ a:hover{
    color: #111111;
    Opacity: 100%;
  }

  .main-nav__list-item a:active{
    color: #FFFFFF;
    Opacity: 30%;
  }

  .main-nav__item-catalog a:active{
    color: #111111;
    Opacity: 30%;
  }

  .main-nav__list-item--activ a:active{
    color: #FFFFFF;
    Opacity: 100%;
  }

  .main-nav__catalog-item--activ a:active{
    color: #111111;
    Opacity: 100%;
  }


}
